* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: box-shadow .1s ease, font-weight .1s ease;
}

html, button, input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.25rem;
  user-select: none;
  color: #4c0e72;
}

html, body, #root {
  margin: 0;
  height: 100%;
  background-color: #e0ddff;
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

label:focus-within {
  font-weight: 600;
}

input {
  display: block;
  border-radius: .25rem;
  padding: .5rem;
  box-shadow: inset 0 0 .1rem #4c0e72;
  border: none;
  background-color: #eefffe;
  caret-color: #4c0e72;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 .2rem #4c0e72;
}

button {
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  background-color: #4c0e72;
  box-shadow: 0 0 .1rem #9d55cb;
  font-weight: 600;
  color: #eefffe;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  font-weight: 400;
}
