.login {
  height: 100%;
  align-content: center;
  padding: 1rem;
  overflow: auto;
}

.login form {
  width: clamp(12rem, 100%, 16rem);
  padding: 1rem;
  border-radius: .5rem;
  background-color: #f8ffa2;
  box-shadow: 0 0 .1rem 0 #4c0e72;
  margin: auto;
}

.login h2 {
  margin-bottom: .75rem;
  padding-bottom: .25rem;
  border-bottom: 2px solid #4c0e72;
}

.login button {
  margin-top: 0.75rem;
}
