.create-admin {
  height: 100%;
  justify-items: center;
  align-content: center;
}

.create-admin form {
  padding: 1rem;
  border-radius: .5rem;
  background-color: #f8ffa2;
  box-shadow: 0 0 .25rem 0 #4c0e72;
}

.create-admin h2 {
  margin-bottom: .75rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #4c0e72;
}

.create-admin button {
  margin-top: 0.75rem;
}