.app {
  height: 100%;
  overflow: auto;
}

.app main {
  flex-grow: 1;
}

.app nav {
  padding: .5rem;
  display: flex;
  gap: .5rem;
  justify-content: center;
  background-color: #f8ffa2;
  box-shadow: 0 0 .25rem 0 #4c0e72;
  flex-shrink: 0;
  z-index: 1;
}
