.admins {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.admins header {
  padding: 1rem;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  background-color: #e0ddff;
}

.admins header div {
  border-bottom: 2px solid #4c0e72;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.admins header nav {
  display: flex;
}

.admins h2 {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.admins main {
  flex: 1 0 auto;
}

.admins main nav {
  width: 100%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.admins :where(.me, .others) {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.admins footer {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  padding-top: 0;
  background-color: #e0ddff;
  display: flex;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}